@use "../../styles/style.scss" as *;
.auth {
  position: relative;
  min-height: 100vh;

  &__content {
    @include flexible();
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    border-radius: 15px;
    box-shadow: 5px 5px 30px $black;
  }

  &__h2 {
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__credential {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;

    &-input {
      outline: none;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $black;
      &:focus {
        outline: 1px double $color1;
      }
    }

    &-button {
      @include standartBtn();
      @include flexible();
      overflow: hidden;
      min-height: 38px;
    }

    .password-control {
      position: absolute;
      display: block;
      bottom: 20%;
      right: 3%;
      display: inline-block;
    }
    .eye-icon {
      display: block;
    }
  }

  &__toggle {
    @include standartBtn();
    position: relative;
    padding: 10px 10px;
    background-color: $color1;
    color: $white;
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &__loading {
    height: 30px;
  }
}

.error{
  color: red;
  font-size: 10px;
  text-align: center;
}
