@use "../../styles/style.scss" as *;

.challenges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;

  &__active-users{
    margin-bottom: 10px;
  }

  &__h2 {
    margin-bottom: 10px;
  }

  &__content {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }

  &__collapse {
    width: 100%;
  }

  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    width: 100%;
    gap: 10px;
    &_weekly {
      margin-bottom: 30px;
    }
  }

  &__item {
    @include flexible();
    width: 100%;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    background-color: $color3;
    &-title {
      margin-right: auto;
    }
    &-count {
      text-wrap: nowrap;
    }
    &-actions {
      display: flex;
      flex-direction: column;
      min-width: 100px;
      gap: 5px;
    }
    &-btn {
      @include btnReset();
      @include standartTransition;
      padding: 10px 7px;
      width: 100%;
      outline: none;
      border-radius: 5px;
      color: $white;
    }
    &-btn_completed {
      background-color: $color1;
    }
    .completed {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &-btn_delete {
      background-color: $color6;
    }
  }

  &__btn-add {
    @include btnReset();
    @include standartTransition();
    padding: 20px 10px;
    border-radius: 5px;
    background-color: $color4;
    color: $white;
    margin-bottom: 15px;
    @media (hover: hover) {
      &:hover {
        background-color: $color5;
      }
      &:focus {
        outline: 1px double $color5;
      }

      &:active {
        outline: 1px double $color5;
        background-color: $color5;
      }
    }
  }
}

.ant-collapse-content-box{
  padding: 15px 0 0 !important;
}