@use "../../styles/style.scss" as *;

.navigation {
  padding: 20px 0;
  width: 100%;
  box-shadow: 0px -15px 60px $black;
  border-radius: 0 0 15px 15px;
  background-color: $white;
  margin-bottom: 30px;
  &__list {
    @include listReset();
    @include flexible();
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    width: 64px;
    height: 64px
  }

  &__link {
    @include standartBtn();
    @include flexible();
    padding: 10px;
    min-height: 64px;

    text-align: center;
    box-shadow: 0px 0px 5px $color1;
  }
}
